

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <!-- <div class="arrow-b" (click)="slidePrev()">
          <ion-icon color="medium" name="caret-back"></ion-icon>
        </div>
        <div class="arrow-f" (click)="slideNext()">
          <ion-icon color="medium" name="caret-forward"></ion-icon>
        </div>
        <ion-slides #slideHistoria pager="false" [options]="slideOpts" class="top-slides">
          <ion-slide>
            <div class="padding-5 border-r-5 slide-shadow"><img src="../assets/slides/screen-1.jpg"/></div>
          </ion-slide>
          <ion-slide>
            <div class="padding-5 border-r-5 slide-shadow"><img src="../assets/slides/screen-1.jpg"/></div>
          </ion-slide>
          <ion-slide>
            <div class="padding-5 border-r-5 slide-shadow"><img src="../assets/slides/screen-1.jpg"/></div>
          </ion-slide>
   
        </ion-slides> -->
      </ion-row>
    </ion-col>
    <ion-col size="12">
      
        <!-- <ion-img src="../assets/icon/barradiamante.png"></ion-img> -->
  
      <!-- <img src="../assets/icon/barrita.png"/> -->
    </ion-col>
    <ion-col size="12">
  
     <ion-row>
       <ion-col size="12">
        <ion-item class="claseEspecial">
          <ion-avatar class="padding-5-1 border-r-5 slide-shadow" slot="start">
            <img  src="../assets/icon/avatarNativo.png">
          </ion-avatar>
          <ion-row>
            <ion-col sice="12">
              <ion-label>
            
                <span class="padding-5 border-r-5 slide-shadow"><ion-icon name="star" class="ft13icon"  color="primary"></ion-icon></span> <ion-text class="ft-nombre">Alvaro Bruss</ion-text> 
                <p class="puntos"> <ion-text color="primary">480.000 ptos</ion-text></p>
              </ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-list>
                <ion-item class="claseEspecial">
                  <ion-col size="6"> <ion-text class="ft12seguidor">Seguidores:</ion-text></ion-col>
                  <ion-col size="6" class="ion-text-right"><ion-text class="ft12cantidad">0000</ion-text></ion-col>
                 
                </ion-item>
                <ion-item class="claseEspecial">
                  <ion-col size="6"> <ion-text class="ft12seguidor">Seguidos:</ion-text></ion-col>
                  <ion-col size="6" class="ion-text-right"><ion-text class="ft12cantidad">0000</ion-text></ion-col>
                 
                </ion-item>
              </ion-list>
            </ion-col>
        
          </ion-row>
   
          
        </ion-item>
        <p class="ion-padding-start">hola que tal soy el chico  de  las poesias</p>
       </ion-col>
     </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="participa">
              <ion-label>Participa</ion-label>
            </ion-segment-button>
            <ion-segment-button value="videos">
              <ion-label>Videos</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ranking">
              <ion-label>Ranking</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-row *ngIf="segment == 'participa'">
            <p>participa</p>
          </ion-row>
          <ion-row *ngIf="segment == 'videos'">
            <p>videos</p>
          </ion-row>
          <ion-row *ngIf="segment == 'ranking'">
            <p>ranking</p>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>