<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Dirección de correo</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Constraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="light" expand="full" (click)="login()">Entrar</ion-button>
    <ion-button color="light" expand="full" routerLink="/registro">Registrarse</ion-button>
</ion-content>
