<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="app-bar line"></div>
    </ion-col>
    <ion-col size="12">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/nouser.png">
            </ion-avatar>
            <ion-label>
              <h2>
                <ion-icon name="star" color="danger"></ion-icon> H2 Title Text
              </h2>
              <p>25.000 <small>seguidores</small></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Seguir</ion-button>
          </ion-item>
          <p class="ion-padding-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          <div class="app-bar line"></div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/nouser.png">
            </ion-avatar>
            <ion-label>
              <h2>
                <ion-icon name="star" color="danger"></ion-icon> H2 Title Text
              </h2>
              <p>25.000 <small>seguidores</small></p>
            </ion-label>
            <ion-button fill="outline" slot="end">Seguir</ion-button>
          </ion-item>
          <p class="ion-padding-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>