
.fondo{
    --background: #363636;
    border:1px solid;
}
.borde1{
    margin-top: 5%;
}

ion-button{
    --background:transparent;
    --indicator-color: transparent;
    border:1px solid;
    border-color: gray;
    border-radius: 5px 5px;
    height: 35px;
    --padding-end: 30px;
    --padding-start: 30px;

}
.menu1{
    --background: #363636;
    border:1px solid;
    border-color:gray;
    min-width: 5px;
   // height: 50px;
    // min-width: 5px;  

}
.menu2{
    --backgroun: black;
    border:1px solid;
    border-color:gray;
    height: 35px;
    min-width: 5px;
}
.ajustar{
    font-weight: bold;
    font-size: 18pt;
    // background: black;
//  height: 35px;
   
}

.sinborde{
    border: none;
    // background: black;
}

div{
    margin-left: 1;
}

