

<ion-grid>
  <ion-row>

  <ion-card class="fondo" size="12">    
    <ion-col size="12" class="borde1">
      <ion-img  src="../assets/slides/screen-1.jpg"></ion-img>
    </ion-col>

     <ion-item class="menu1">

      <ion-button> <img src="../assets/icon/777.png" alt=""></ion-button>
      <ion-button><img src="../assets/icon/play.png" alt=""> </ion-button> 

     
            <ion-button class="sinborde"> <img src="../assets/icon/suma.png" alt=""> </ion-button>
              <ion-text class="ajustar" color ="primary" >2500</ion-text>
            <img src="../assets/icon/monedas.png" alt="">

     

    </ion-item> 

  

 

  </ion-card>
    
  </ion-row>
</ion-grid>