<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="ink" class="border-right">
      <ion-icon src="assets/icon/diamond.svg" ></ion-icon>
      <!-- <img src="../../assets/icon/icono1.png" > -->
      <!-- <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="market" class="border-right">
      <ion-icon name="storefront"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map" class="border-right">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="about" class="border-right">
      <ion-icon name="bag"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
