.swiper-slide img {
    width: 90%;
}

// ion-item{
// --border-color:red;
// --border-radius:20px;
// }
ion-item{
    border-radius: 10px;
    border: 1px solid #565656;
    margin-bottom: 15px;
    // background: rgb(60,60,60);
    background: linear-gradient(360deg, rgba(60,60,60,1) 38%, rgba(77,77,77,1) 52%);
}
.espacio{
    margin-top: 8%;
}
.espacio1{
    margin-top: 3%;
  
}

.fondo{
    background: #4C4C4C4C;
}


ion-button{
    --border-color: #666666;
    color: #666666;
}

.arrow-b{
    position: relative;
    top: 35px;
    left: 5px;
    font-size: 25px;
    z-index: 9999;
}

.arrow-f{
    position: relative;
    top: 35px;
    left: 83%;
    font-size: 25px;
    z-index: 9999;
}
.top-slides{
   margin-top: -30px;
}

ion-slides img {
    border-radius: 5px;
}

.slide-shadow{
    background: #000000;
    margin-right: 5px;
}

.slide-shadow1{
    background: #000000;
    margin-right: 5px;
    border-radius: 1px;
    
}

.border-r-5 {
    border-radius: 50%;
}

span{
    width: 20px;
    height: 20px;
}

.avatar{
    width: 60px;
    height: 60px;
}


.avatarraking{
    width: 50px;
    height: 50px;
}

.ft-nombre{
    font-size: 20px;
 
    margin-left: 19%;

    margin-bottom: 10px;
}
.ft-nombre1{
margin-left: auto;
font-size: 20px;   
}
    

.puntos{
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.ft12seguidor{
    font-size: 12px;
}
.ft12cantidad{
    font-size: 12px;
    text-align: right;
}

h2{
    min-height: 30px;
}

ion-list ion-item{
    margin-bottom: 0px !important;
    border-radius: 10px;
    --min-height: 30px;

}

.claseEspecial{
    --background: #363636;
}

.padding-5-1{
    padding: 5px;
}

.ft13icon{
    width: 20px;
    font-size: 13px;
}
.padding-5 {
    padding: 0px;
}
.list-ios{
    background: transparent;
}

.list-md{
    background: transparent;
}

ion-segment-button{
    --indicator-color: transparent;
    --indicator-height:0px;
    border-radius: 60px 60px 60px 60px;
    border:1px solid;
    border-bottom:0px;
    font-size: 10px;
    min-height: 5px;
    height: 20px;
    min-width: 5px;
 
  }

ion-segment-button ion-label{
    margin-top: 5px;
    margin-bottom: 5px;
 
}
